################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/biz.dfch.LS.PushMenu/bin/Data/ApplicationDatabase.mdf
/biz.dfch.LS.PushMenu/bin/Data/ApplicationDatabase_log.ldf
